.team {
    padding-top: 100px;
    width: 85%;
    margin: 0 auto;
    text-align: center;
    .text-uppercase {
        position: relative;
        text-align: center;
        letter-spacing: 2px;
        margin-bottom: 20px;
        padding-bottom: 30px;
        &::after {
            position: absolute;
            left: 50%;
            top: 50px;
            width: 60px;
            height: 2px;
            margin-left: -31px;
            content: "";
            background: black;
        }
    }
    p {
        text-align: center;
        font-size: $fs-0 +1;
        width: 60%;
        margin: 0 auto;
        color: #7e7e7e;
        line-height: 25px;
        margin-bottom: 80px;
    }
    .team__content {
        .row {
            margin-right: 0;
            margin-left: 0;
            justify-content: space-between;
            .team__item {
                img {
                    height: 95%;
                }
                position: relative;
                flex: 0 0 30%;
                text-align: center;
                .team__pattern {
                    opacity: 0;
                    position: absolute;
                    left: 0%;
                    top: 0%;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(255, 255, 255, 0.8);
                }
                &:hover .team__pattern {
                    opacity: 1;
                    transition: all .5s;
                }
                &:hover .team__text {
                    opacity: 1;
                    transition: all .5s;
                }
                .team__text {
                    .team__subtext {
                        width: 100%;
                        h4 {
                            margin-top: 20%;
                            margin-bottom: 30px;
                            letter-spacing: 3px;
                            font-size: 13px;
                        }
                        .t-text {
                            margin: 0;
                            padding: 0;
                            width: 100%;
                            line-height: 30px;
                            font-size: 13px;
                            padding: 0 15px;
                        }
                        .team__icon {
                            margin-top: 50%;
                            i {
                                padding-left: 15px;
                                cursor: pointer;
                            }
                        }
                    }
                    opacity: 0;
                    position: absolute;
                    left: 11%;
                    top: 5%;
                    width: 78%;
                    height: 85%;
                    background-color: rgba(255, 255, 255, 0.7);
                }
                .team-dark-tag {
                    background-color: rgba(0, 0, 0, 0.7);
                    text-align: right;
                    padding-top: 2%;
                    position: absolute;
                    width: 60%;
                    height: 15%;
                    bottom: 10%;
                    right: 5%;
                    p {
                        margin: 0;
                        padding-right: 5%;
                        text-align: right;
                        color: white;
                        width: 100%;
                        letter-spacing: 3px;
                        font-size: 13px;
                    }
                    p:nth-child(2) {
                        color: gray;
                        font-size: 10px;
                    }
                }
            }
            .team__footer {
                position: relative;
                margin-top: 100px;
                background-color: #f5f5f5;
                width: 30%;
                height: 120px;
                line-height: 10px;
                padding-top: 10px;
                h4 {
                    text-align: left;
                    margin-top: 2%;
                }
                p {
                    margin: 0;
                    padding: 0;
                    text-align: left;
                    width: 100%;
                }
                .team-footer-btn {
                    width: 200px;
                    cursor: pointer;
                    position: absolute;
                    right: 3%;
                    bottom: 25%;
                    background-color: black;
                    padding: 20px;
                    a {
                        text-decoration: none;
                        color: white;
                        font-size: 15px;
                        text-transform: uppercase;
                    }
                }
                &:hover .team-footer-btn {
                    background-color: #d6b101;
                    color: white;
                    transition: all .3s;
                }
            }
        }
    }
}