::selection {
  color: #fff;
  background: #d6b161; }

:root {
  --mg-t-8: 80px;
  --color-page: #d6b161;
  --color-gray: #909090;
  --fontSize: 15px;
  --fontSize-13: 13px;
  --line-height: 1.2;
  --margin-top: 100px;
  --padding-top: 100px;
  --background-color: #1b1b1b; }

* {
  margin: 0;
  padding: 0; }

html,
body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 13px; }

h5 {
  margin: 0 0 30px 0;
  letter-spacing: 1px;
  font-weight: 500;
  line-height: 1.2;
  color: #fff; }

header {
  position: fixed;
  width: 100%;
  z-index: 9999; }
  header.headerClass {
    border-bottom: rgba(20, 23, 28, 0.05) 5px solid;
    background: #000; }
  header .navbar {
    padding: 0;
    margin: 0; }
    header .navbar .section-left,
    header .navbar .section-right {
      padding: 0;
      margin: 0; }
    header .navbar .section-right .MyMassive {
      position: relative;
      display: flex;
      justify-content: space-around; }
      header .navbar .section-right .MyMassive .navbar-nav {
        position: absolute;
        right: 0; }
        header .navbar .section-right .MyMassive .navbar-nav .dropdown:hover .dropdown-menu,
        header .navbar .section-right .MyMassive .navbar-nav .btn-group:hover .dropdown-menu {
          display: block; }
        header .navbar .section-right .MyMassive .navbar-nav .dropdown-menu {
          margin-top: 40px; }
        header .navbar .section-right .MyMassive .navbar-nav .nav-item {
          padding-left: 20px; }
          header .navbar .section-right .MyMassive .navbar-nav .nav-item .nav-link {
            transition: all .6s;
            text-decoration: none;
            color: #fff; }
          header .navbar .section-right .MyMassive .navbar-nav .nav-item:hover .nav-link, header .navbar .section-right .MyMassive .navbar-nav .nav-item:focus .nav-link {
            color: #F4C150; }
        header .navbar .section-right .MyMassive .navbar-nav .activeItem .nav-link {
          color: #F4C150; }

.massiveCover__img {
  position: relative;
  background-image: url("../../img/index-banner-2.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 700px; }

.massiveCover__content {
  position: absolute;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
  text-align: center; }
  .massiveCover__content p {
    font-size: 60px;
    letter-spacing: 5px;
    font-weight: 300;
    line-height: normal; }
  .massiveCover__content h3 {
    letter-spacing: 6px;
    font-size: 20px; }
  .massiveCover__content .text-uppercase {
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 2px; }

.massiveIntro {
  padding: 100px 0; }
  .massiveIntro .text-uppercase {
    position: relative;
    text-align: center;
    letter-spacing: 2px;
    margin-bottom: 20px;
    padding-bottom: 30px; }
    .massiveIntro .text-uppercase::after {
      position: absolute;
      left: 50%;
      top: 50px;
      width: 60px;
      height: 2px;
      margin-left: -31px;
      content: "";
      background: black; }
  .massiveIntro p {
    text-align: center;
    font-size: 16px;
    width: 50%;
    margin: 0 auto;
    color: #7e7e7e;
    line-height: 25px;
    margin-bottom: 80px; }
  .massiveIntro .massiveIntro__general {
    width: 85%;
    margin: 0 auto;
    padding-left: 20px; }
  .massiveIntro .massiveIntro__items .item__content {
    width: 320px;
    position: relative;
    transition: all .7s ease;
    padding: 30px;
    border: 1px solid #e9e9e9;
    border-radius: 4px; }
    .massiveIntro .massiveIntro__items .item__content .item__icon {
      position: absolute;
      top: -30px;
      left: 30px;
      color: #fff;
      font-size: 30px;
      border-radius: 4px;
      background-color: #222;
      box-shadow: 0 0 0 10px #fff;
      width: 60px;
      height: 60px;
      text-align: center;
      line-height: 60px; }
    .massiveIntro .massiveIntro__items .item__content .item__title {
      margin-bottom: 20px;
      letter-spacing: 1px;
      margin-top: 30px;
      font-size: 18px;
      text-transform: uppercase; }
    .massiveIntro .massiveIntro__items .item__content .item_desc {
      font-size: 15px;
      color: #7e7e7e; }
    .massiveIntro .massiveIntro__items .item__content:hover .item__icon {
      background-color: #d6b161;
      transition: all .3s ease; }

.massiveParallax {
  position: relative;
  background-image: url("../../img/parallax.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  overflow: hidden;
  width: 100% !important;
  height: 100%;
  background-position: 50% 50%; }
  .massiveParallax .darkParallax {
    padding: 100px 60px;
    background-color: rgba(0, 0, 0, 0.5);
    height: 600px; }
    .massiveParallax .darkParallax h4 {
      margin-bottom: 40px; }
    .massiveParallax .darkParallax p {
      font-size: 15px; }
    .massiveParallax .darkParallax h4, .massiveParallax .darkParallax p {
      letter-spacing: 2px;
      width: 60%;
      color: #fff;
      line-height: 30px; }
    .massiveParallax .darkParallax .darkParallax__item {
      padding-top: 50px; }
      .massiveParallax .darkParallax .darkParallax__item .progress {
        background-color: rgba(255, 255, 255, 0.5);
        height: 20px;
        width: 60%; }
        .massiveParallax .darkParallax .darkParallax__item .progress .progress-bar .progress-value {
          color: #29303b;
          text-align: left;
          padding-left: 5px;
          letter-spacing: 2px;
          text-transform: uppercase; }
  .massiveParallax .v-middle {
    display: table;
    width: 100%;
    height: 400px;
    vertical-align: middle; }
    .massiveParallax .v-middle h3 {
      transform: translateY(25%);
      display: table-cell;
      text-align: right;
      vertical-align: middle;
      letter-spacing: 8px;
      color: #fff;
      text-transform: uppercase;
      padding-right: 10%;
      line-height: 1.5; }
@keyframes animate-positive {
  0% {
    width: 0%; } }
.massiveShowCase {
  padding-top: 100px; }
  .massiveShowCase .text-uppercase {
    position: relative;
    text-align: center;
    letter-spacing: 2px;
    margin-bottom: 20px;
    padding-bottom: 30px; }
    .massiveShowCase .text-uppercase::after {
      position: absolute;
      left: 50%;
      top: 50px;
      width: 60px;
      height: 2px;
      margin-left: -31px;
      content: "";
      background: black; }
  .massiveShowCase p {
    text-align: center;
    font-size: 16px;
    width: 50%;
    margin: 0 auto;
    color: #7e7e7e;
    line-height: 25px;
    margin-bottom: 80px; }
  .massiveShowCase .workTogether .workTogether__img {
    text-align: right;
    padding-right: 30px;
    position: relative; }
    .massiveShowCase .workTogether .workTogether__img .fun {
      position: absolute;
      right: 30px;
      bottom: 0;
      text-align: left;
      width: 76%;
      height: 40px;
      vertical-align: middle;
      line-height: 25px;
      padding: 10px;
      background-color: rgba(0, 0, 0, 0.7);
      color: white;
      font-size: var(--fontSize); }
  .massiveShowCase .workTogether .workTogether__right {
    padding: 30px; }
    .massiveShowCase .workTogether .workTogether__right .workTogether__content {
      vertical-align: middle;
      line-height: 3; }
      .massiveShowCase .workTogether .workTogether__right .workTogether__content ul {
        display: flex; }
        .massiveShowCase .workTogether .workTogether__right .workTogether__content ul .workTogether__item {
          list-style-type: none;
          padding-left: 15px;
          color: var(--color-gray, #909090);
          letter-spacing: 3px;
          cursor: pointer;
          font-size: 12px; }
          .massiveShowCase .workTogether .workTogether__right .workTogether__content ul .workTogether__item:hover {
            color: var(--color-page);
            transition: all .2s; }
          .massiveShowCase .workTogether .workTogether__right .workTogether__content ul .workTogether__item:nth-child(3) {
            color: var(--color-gray); }
      .massiveShowCase .workTogether .workTogether__right .workTogether__content h4 {
        line-height: var(--line-height); }
        .massiveShowCase .workTogether .workTogether__right .workTogether__content h4:hover {
          color: var(--color-page);
          transition: all .2s; }
      .massiveShowCase .workTogether .workTogether__right .workTogether__content p {
        width: 90%;
        text-align: left;
        margin: 0;
        letter-spacing: 1px;
        font-size: var(--font-size);
        padding-left: 15px;
        padding-bottom: 30px; }
      .massiveShowCase .workTogether .workTogether__right .workTogether__content a {
        color: var(--color-gray);
        text-decoration: none; }
        .massiveShowCase .workTogether .workTogether__right .workTogether__content a:hover {
          color: black;
          transition: all .2s; }

.massiveShowCase__gallery {
  padding-right: 0;
  padding-left: 0; }
  .massiveShowCase__gallery .filter a {
    padding: 10px 20px;
    display: inline-block;
    color: #a1a7b3;
    text-decoration: none;
    transition: all 0.2s;
    border-radius: 9px; }
  .massiveShowCase__gallery .filter a:hover {
    color: #29303b; }
  .massiveShowCase__gallery .filter {
    padding-bottom: 40px;
    text-align: center;
    font-size: 15px -1;
    margin: 0 15px;
    /* font-family: 'Abel', sans-serif; */
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #a9a8a8; }
  .massiveShowCase__gallery .gallery {
    height: auto;
    overflow: hidden; }
    .massiveShowCase__gallery .gallery a {
      position: relative; }
      .massiveShowCase__gallery .gallery a img {
        max-width: 100%;
        height: auto; }
      .massiveShowCase__gallery .gallery a:hover .gallery__content {
        opacity: 1; }
      .massiveShowCase__gallery .gallery a .gallery__content {
        position: absolute;
        left: 5%;
        top: 5%;
        background-color: rgba(252, 247, 247, 0.8);
        opacity: 0;
        width: 90%;
        height: 90%;
        transition: all .6s ease; }
        .massiveShowCase__gallery .gallery a .gallery__content .gallery__text {
          position: absolute;
          left: 30%;
          top: 30%;
          text-align: center; }
          .massiveShowCase__gallery .gallery a .gallery__content .gallery__text i {
            padding-bottom: 1.5rem;
            font-size: 40px;
            cursor: pointer; }
          .massiveShowCase__gallery .gallery a .gallery__content .gallery__text h3 {
            font-size: 15px;
            letter-spacing: 3px;
            padding-bottom: .5rem; }
          .massiveShowCase__gallery .gallery a .gallery__content .gallery__text p {
            font-size: 10px; }
          .massiveShowCase__gallery .gallery a .gallery__content .gallery__text h3,
          .massiveShowCase__gallery .gallery a .gallery__content .gallery__text p {
            transition: all .6s ease;
            cursor: pointer;
            letter-spacing: 3px; }
            .massiveShowCase__gallery .gallery a .gallery__content .gallery__text h3:hover,
            .massiveShowCase__gallery .gallery a .gallery__content .gallery__text p:hover {
              color: #d6b161; }
  .massiveShowCase__gallery .gallery a img {
    width: 100%;
    height: auto;
    float: left; }
  .massiveShowCase__gallery .gallery a {
    width: 25%;
    transition: all 0.2s;
    display: flex;
    float: left;
    opacity: 1;
    height: auto; }
  .massiveShowCase__gallery .gallery .hide,
  .massiveShowCase__gallery .gallery .pophide {
    width: 0%;
    opacity: 0;
    transition: all 0.1s; }
  .massiveShowCase__gallery .gallery .pop {
    width: 25%;
    position: relative;
    transform: translate(150%);
    z-index: 2; }
  .massiveShowCase__gallery .pop:after {
    content: "\00D7";
    position: absolute;
    top: 10px;
    right: 10px;
    color: #333;
    background: #fff;
    padding: 10px 15px;
    border-radius: 50%;
    opacity: 0.8; }
  .massiveShowCase__gallery .pop:hover:after {
    opacity: 1; }

.team {
  padding-top: 100px;
  width: 85%;
  margin: 0 auto;
  text-align: center; }
  .team .text-uppercase {
    position: relative;
    text-align: center;
    letter-spacing: 2px;
    margin-bottom: 20px;
    padding-bottom: 30px; }
    .team .text-uppercase::after {
      position: absolute;
      left: 50%;
      top: 50px;
      width: 60px;
      height: 2px;
      margin-left: -31px;
      content: "";
      background: black; }
  .team p {
    text-align: center;
    font-size: 16px;
    width: 60%;
    margin: 0 auto;
    color: #7e7e7e;
    line-height: 25px;
    margin-bottom: 80px; }
  .team .team__content .row {
    margin-right: 0;
    margin-left: 0;
    justify-content: space-between; }
    .team .team__content .row .team__item {
      position: relative;
      flex: 0 0 30%;
      text-align: center; }
      .team .team__content .row .team__item img {
        height: 95%; }
      .team .team__content .row .team__item .team__pattern {
        opacity: 0;
        position: absolute;
        left: 0%;
        top: 0%;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.8); }
      .team .team__content .row .team__item:hover .team__pattern {
        opacity: 1;
        transition: all .5s; }
      .team .team__content .row .team__item:hover .team__text {
        opacity: 1;
        transition: all .5s; }
      .team .team__content .row .team__item .team__text {
        opacity: 0;
        position: absolute;
        left: 11%;
        top: 5%;
        width: 78%;
        height: 85%;
        background-color: rgba(255, 255, 255, 0.7); }
        .team .team__content .row .team__item .team__text .team__subtext {
          width: 100%; }
          .team .team__content .row .team__item .team__text .team__subtext h4 {
            margin-top: 20%;
            margin-bottom: 30px;
            letter-spacing: 3px;
            font-size: 13px; }
          .team .team__content .row .team__item .team__text .team__subtext .t-text {
            margin: 0;
            padding: 0;
            width: 100%;
            line-height: 30px;
            font-size: 13px;
            padding: 0 15px; }
          .team .team__content .row .team__item .team__text .team__subtext .team__icon {
            margin-top: 50%; }
            .team .team__content .row .team__item .team__text .team__subtext .team__icon i {
              padding-left: 15px;
              cursor: pointer; }
      .team .team__content .row .team__item .team-dark-tag {
        background-color: rgba(0, 0, 0, 0.7);
        text-align: right;
        padding-top: 2%;
        position: absolute;
        width: 60%;
        height: 15%;
        bottom: 10%;
        right: 5%; }
        .team .team__content .row .team__item .team-dark-tag p {
          margin: 0;
          padding-right: 5%;
          text-align: right;
          color: white;
          width: 100%;
          letter-spacing: 3px;
          font-size: 13px; }
        .team .team__content .row .team__item .team-dark-tag p:nth-child(2) {
          color: gray;
          font-size: 10px; }
    .team .team__content .row .team__footer {
      position: relative;
      margin-top: 100px;
      background-color: #f5f5f5;
      width: 30%;
      height: 120px;
      line-height: 10px;
      padding-top: 10px; }
      .team .team__content .row .team__footer h4 {
        text-align: left;
        margin-top: 2%; }
      .team .team__content .row .team__footer p {
        margin: 0;
        padding: 0;
        text-align: left;
        width: 100%; }
      .team .team__content .row .team__footer .team-footer-btn {
        width: 200px;
        cursor: pointer;
        position: absolute;
        right: 3%;
        bottom: 25%;
        background-color: black;
        padding: 20px; }
        .team .team__content .row .team__footer .team-footer-btn a {
          text-decoration: none;
          color: white;
          font-size: 15px;
          text-transform: uppercase; }
      .team .team__content .row .team__footer:hover .team-footer-btn {
        background-color: #d6b101;
        color: white;
        transition: all .3s; }

.massive__Parallax2 {
  margin-top: 100px;
  position: relative;
  background-image: url("../../img/parallax2.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
  width: 100% !important;
  height: 450px;
  background-position: 50% 50%; }
  .massive__Parallax2 .massive__awesome {
    line-height: 1.2;
    position: absolute;
    left: 27%;
    top: 30%;
    text-align: center;
    color: white; }
    .massive__Parallax2 .massive__awesome span {
      color: #d6b161 !important;
      letter-spacing: 3px;
      font-size: 16px;
      text-transform: uppercase; }
    .massive__Parallax2 .massive__awesome h1 {
      margin-top: 20px;
      letter-spacing: 2px;
      font-weight: normal; }
    .massive__Parallax2 .massive__awesome .massive__awesomeBtn {
      background-color: #d6b161;
      width: 150px;
      padding: 20px;
      margin: 0 auto;
      margin-top: 50px; }
      .massive__Parallax2 .massive__awesome .massive__awesomeBtn a {
        text-align: center;
        color: white;
        text-decoration: none; }
    .massive__Parallax2 .massive__awesome:hover .massive__awesomeBtn {
      background-color: white;
      transition: all .5s; }
      .massive__Parallax2 .massive__awesome:hover .massive__awesomeBtn a {
        color: black; }

.TabTogether .TabTogether__pattern {
  padding-top: var(--padding-top);
  margin-top: var(--margin-top);
  background-image: url("../../img/pattern-2.png");
  background-repeat: repeat;
  height: 500px;
  background-attachment: fixed;
  width: 100%; }
  .TabTogether .TabTogether__pattern .TabTogether__content {
    width: 80%;
    margin: 0 auto; }
    .TabTogether .TabTogether__pattern .TabTogether__content .nav-tabs {
      border-bottom: none; }
    .TabTogether .TabTogether__pattern .TabTogether__content .nav-item {
      padding-left: 15px; }
      .TabTogether .TabTogether__pattern .TabTogether__content .nav-item .nav-link {
        color: white;
        background: rgba(0, 0, 0, 0.1);
        border: none;
        border-top-left-radius: none;
        border-top-right-radius: none;
        padding: 30px 70px; }
        .TabTogether .TabTogether__pattern .TabTogether__content .nav-item .nav-link:hover {
          background: #ffffff;
          color: black;
          transition: all .4s; }
      .TabTogether .TabTogether__pattern .TabTogether__content .nav-item .active {
        background: white;
        color: black; }
    .TabTogether .TabTogether__pattern .TabTogether__content i {
      font-size: 37.5px; }
    .TabTogether .TabTogether__pattern .TabTogether__content .tab-content {
      padding-left: 15px;
      padding-top: 30px; }
      .TabTogether .TabTogether__pattern .TabTogether__content .tab-content h2 {
        margin: 0 0 30px 0;
        color: #333;
        font-weight: normal;
        line-height: 1.5;
        font-size: 30px;
        letter-spacing: 2px; }
      .TabTogether .TabTogether__pattern .TabTogether__content .tab-content span {
        margin-top: 20px;
        letter-spacing: 2px;
        color: #7e7e7e;
        /* font-family: 'Abel', sans-serif; */
        font-size: 14px;
        text-transform: uppercase;
        line-height: 30px; }
      .TabTogether .TabTogether__pattern .TabTogether__content .tab-content p {
        color: #7e7e7e;
        font-size: 15px;
        font-weight: 400;
        letter-spacing: 1px; }

.countdown {
  margin-top: 10px;
  background: var(--background-color);
  height: 300px; }
  .countdown .countdown__content {
    width: 90%;
    margin: 0 auto;
    vertical-align: middle;
    align-items: center;
    display: flex;
    justify-content: space-around; }
    .countdown .countdown__content .countdown__item {
      padding-top: var(--padding-top);
      max-width: 100%;
      width: 25%;
      color: white;
      font-size: 36px;
      letter-spacing: 2px; }
      .countdown .countdown__content .countdown__item .item-group {
        position: relative;
        width: 100%;
        text-align: center; }
        .countdown .countdown__content .countdown__item .item-group .countdown__text {
          position: absolute;
          font-size: var(--fontSize);
          bottom: -50px;
          width: 100%;
          left: 0;
          text-align: center;
          letter-spacing: 2px; }

.wrapper {
  width: 100%;
  position: relative;
  margin: 5% auto 0; }

/**
   * Padding is set relative to the width
   * of the element, so here padding-top:60% is
   * a percentage of the width. This allows us 
   * to set the height as a ratio of the width
   *
   */
.carousel {
  height: 700px;
  width: 100%;
  position: relative;
  overflow: hidden; }

.inner {
  width: 100%;
  height: 600px;
  position: absolute;
  top: 0;
  left: 0; }

/**
   * ==========================
   * Animation styles
   * 
   * Notes:
   * 1. We use z-index to position active slides in-front 
   * of non-active slides
   * 2. We set right:0 and left:0 on .slide to provide us with
   * a default positioning on both sides of the slide. This allows 
   * us to trigger JS and CSS3 animations easily
   *
   */
.slide {
  border-bottom: #ddd8d8 1px solid;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  opacity: 0; }
  .slide img {
    border-radius: 50%; }
  .slide .slide__content {
    width: 50%;
    position: absolute;
    top: 30%;
    left: 25%; }
    .slide .slide__content .slide__text {
      margin-top: 25px;
      font-size: 15px;
      color: var(--color-gray);
      letter-spacing: 2px;
      font-style: italic; }
    .slide .slide__content .testimonial-meta p {
      margin: 0;
      margin-top: 30px;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: #222;
      font-size: 14px; }

.slide.active,
.slide.left,
.slide.right {
  z-index: 2;
  opacity: 1; }

/**
   * ==========================
   * JS animation styles
   * 
   * We use jQuery.animate to control the sliding animations
   * when CSS3 animations are not available. In order for
   * the next slide to slide in from the right, we need
   * to change the left:0 property of the slide to left:auto
   *
   */
.js-reset-left {
  left: auto; }

/**
   * ==========================
   * CSS animation styles
   * 
   * .slide.left and .slide.right set-up
   * the to-be-animated slide so that it can slide
   * into view. For example, a slide that is about 
   * to slide in from the right will:
   * 1. Be positioned to the right of the viewport (right:-100%)
   * 2. Slide in when the style is superseded with a more specific style (right:0%)
   *
   */
.slide.left {
  left: -100%;
  right: 0; }

.slide.right {
  right: -100%;
  left: auto; }

.transition .slide.left {
  left: 0%; }

.transition .slide.right {
  right: 0%; }

/**
   * The following classes slide the previously active
   * slide out of view before positioning behind the 
   * currently active slide
   *
   */
.transition .slide.shift-right {
  right: 100%;
  left: auto; }

.transition .slide.shift-left {
  left: 100%;
  right: auto; }

/**
   * This sets the CSS properties that will animate. We set the
   * transition-duration property dynamically via JS.
   * We use the browser's default transition-timing-function
   * for simplicity's sake
   * 
   * It is important to note that we are using CodePen's inbuilt
   * CSS3 property prefixer. For your own projects, you will need
   * to prefix the transition and transform properties here to ensure
   * reliable support across browsers
   *
   */
.transition .slide {
  transition-property: right, left, margin; }

/**
   * ==========================
   * Indicators
   *
   */
.indicators {
  width: 100%;
  position: absolute;
  bottom: 100px;
  z-index: 4;
  padding: 0;
  text-align: center;
  padding-bottom: 100px; }

.indicators li {
  width: 13px;
  height: 13px;
  display: inline-block;
  margin: 5px;
  background: #d1cece;
  list-style-type: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s ease-out; }

.indicators li.active {
  background: gray; }

.indicators li:hover {
  background-color: #2b2b2b; }

/**
   * ==========================
   * Arrows 
   *
   */
/**
   * ==========================
   * For demo purposes only
   * 
   * Please note that the styles below are used
   * for the purposes of this demo only. There is no need
   * to use these in any of your own projects
   *
   */
.slide {
  text-align: center;
  padding-top: 25%;
  background-size: cover; }

.slide:nth-child(1) {
  background: white; }

.slide:nth-child(2) {
  background: white; }

.slide:nth-child(3) {
  background: white; }

.brandlogo__content {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  vertical-align: middle;
  padding-bottom: 5%; }
  .brandlogo__content .brandlogo__item {
    text-align: center;
    padding: 20px;
    max-width: 100%; }
    .brandlogo__content .brandlogo__item img {
      width: 95%; }

.footer {
  background-color: #222222;
  height: 400px;
  width: 100%; }
  .footer .footer__content {
    padding-top: 5%; }
    .footer .footer__content .footer__grid {
      padding: 100px auto;
      width: 90%;
      margin: 0 auto;
      color: white; }
      .footer .footer__content .footer__grid .footer__item {
        padding-right: 30px;
        padding-left: 30px;
        margin: 0 0 30px;
        color: #7e7e7e;
        line-height: 30px;
        font-size: 15px;
        font-weight: 400; }
        .footer .footer__content .footer__grid .footer__item ul {
          margin-bottom: 1rem;
          margin-top: 0; }
          .footer .footer__content .footer__grid .footer__item ul li {
            cursor: pointer;
            font-size: 15px;
            font-weight: 400;
            line-height: 1.5;
            list-style: none;
            border-bottom: 1px solid #333;
            display: block;
            color: #a2a2a2;
            line-height: 45px; }
            .footer .footer__content .footer__grid .footer__item ul li::before {
              padding-right: 15px;
              font-family: "Font Awesome 5 Free";
              font-weight: 900;
              content: "\f105"; }
            .footer .footer__content .footer__grid .footer__item ul li:hover {
              color: var(--color-page);
              transition: all .2s ease; }
        .footer .footer__content .footer__grid .footer__item .imageEditor {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          grid-template-rows: repeat(3, 5vw);
          grid-gap: 1px; }
          .footer .footer__content .footer__grid .footer__item .imageEditor figure {
            margin: .25rem; }
            .footer .footer__content .footer__grid .footer__item .imageEditor figure .imageEditor__img {
              width: 100%;
              height: 100%;
              object-fit: cover; }
  .footer .secondary-footer {
    color: #6f7273;
    display: inline-block;
    width: 100%;
    padding: 35px 0;
    border-top: 1px solid #2c2c2c;
    background: #1b1b1b;
    font-weight: normal;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5; }
    .footer .secondary-footer .m-top-10 .f-link {
      text-decoration: none;
      color: white; }
    .footer .secondary-footer .circle {
      border-radius: 50%; }
    .footer .secondary-footer .pull-right {
      float: right !important; }
      .footer .secondary-footer .pull-right a {
        padding-left: 20px;
        text-decoration: none;
        color: grey; }
        .footer .secondary-footer .pull-right a i {
          text-align: center;
          border-radius: 50%;
          border: 1px solid grey;
          line-height: 38px;
          font-size: 15px;
          width: 40px;
          height: 40px; }
        .footer .secondary-footer .pull-right a:hover i {
          color: white;
          background-color: grey;
          transition: all .2s ease; }

/*# sourceMappingURL=main.css.map */
